body {
	font-family: "Montserrat", sans-serif;
}
.container {
	max-width: 1470px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.container__around {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

/* Header */
.header {
	background: #52503b;
	padding-top: 9px;
	padding-bottom: 18px;
	width: 100%;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav__item {
	margin-right: 24px;
	font-weight: 400;
	font-size: 15px;
	color: #ffffff;
}

/* Btn */
.btn {
	background: #ffffff;
	border-radius: 6px;
	width: 117px;
	height: 42px;
	font-size: 16px;
	color: #52503b;
}

/* Intro */
.intro {
	background: url(../img/Intro/Introbg.jpg) center no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 820px;
	background-size: cover;
}
.intro__inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}
.intro__logo {
	margin-bottom: 34px;
}
.intro__logo img {
	/* display: block; */
	max-width: 100%;
	height: auto;
}
.intro__title {
	font-size: 48px;
	margin-bottom: 34px;
}
.intro__subtitle {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 116px;
}

/* Section */
.section {
	padding: 100px 0;
	background: #faf8f0;
}
.section__header {
	text-align: center;
}
.section__header::before {
	content: "";
	display: block;
	width: 42px;
	height: 8px;
	margin: 32px auto;
	background: #e08631;
}
.section__bg--white {
	background: #ffffff;
}
.section__title {
	font-size: 32px;
	color: #52503b;
}
.section__subtitle {
	margin-top: 14px;
	font-size: 16px;
	color: #52503b;
}
.section__header--left {
	text-align: left;
	flex: 1 1 0;
	max-width: 600px;
}
.section__header--left::before {
	content: "";
	display: block;
	width: 42px;
	height: 8px;
	margin: 32px 0;
	background: #e08631;
}

/* Subintro */
.subintro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.subintro__item {
	width: 48%;
}
.subintro__item:last-child {
	margin-right: 0;
}
.subintro__text {
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.subintro__btn {
	margin-top: 41px;
	width: 107px;
	height: 42px;
	font-size: 14px;
	color: #ffffff;
	background: #52503b;
	border-radius: 6px;
}

/* Maintitle */
.maintitle {
	font-weight: 700;
	font-size: 96px;
	color: #52503b;
}

/* Photo */
.photo__item {
	background: url(../img/photo/1.jpg) center no-repeat;
	background-size: cover;
	min-height: 600px;
}
.photo__item--2 {
	background: url(../img/photo/2.jpg) center no-repeat;
	background-size: cover;
	min-height: 600px;
}

/* Arrangements */
.arrangements {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 30px -5px;
}
.arrangements__item {
	flex: 1 1 0;
	text-align: center;
	color: #52503b;
	padding: 0 5px;
}
.arrangements__title {
	margin-top: 12px;
	font-size: 16px;
}
.arrangements__text {
	margin-top: 3px;
	font-size: 14px;
}

/* Services */
.services {
	margin: 30px -15px;
}
.services__col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
.services__item {
	width: 50%;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.services__text {
	font-size: 14px;
	line-height: 20px;
	padding-left: 16px;
}
.services__title {
	color: #52503b;
}
.services__subtitle {
	color: #333333;
}

/* Reviews */
.reviews {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px -10px;
	align-items: flex-start;
}
.reviews__item {
	flex: 1 1 0;
	background: #ffffff;
	color: #333333;
	margin: 0 10px;
}
.reviews__content {
	margin: 33px 31px 31px 31px;
}
.reviews__rating {
	display: flex;
}
.reviews__rating img {
	margin-right: 2px;
}
.reviews__title {
	font-size: 18px;
	margin-top: 10px;
}
.reviews__text {
	font-size: 13px;
	margin-top: 11px;
	line-height: 20px;
}
.reviews__author {
	margin-top: 19px;
	border-left: 3px solid #e08631;
	padding-left: 10px;
	font-size: 14px;
}

/* Services in section */
.section__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.services__section {
	flex: 1 1 0;
	max-width: 700px;
}

/* Section Buttons */
.section__buttons {
	margin-top: 18px;
}
.section__btn--1 {
	width: 116px;
	height: 52px;
	border: 4px solid #52503b;
	border-radius: 6px;
	background: inherit;
	font-size: 16px;
	color: #52503b;
	margin-right: 20px;
}
.section__btn--2 {
	width: 133px;
	height: 52px;
	background: #52503b;
	border-radius: 6px;
	font-size: 16px;
	color: #ffffff;
}

@media (max-width: 1470px) {
}

@media (max-width: 990px) {
	/* Intro */
	.intro__title {
		font-size: 36px;
		margin-bottom: 34px;
	}

	/* Maintitle */
	.maintitle {
		font-size: 64px;
	}

	/* Photo */
	.photo__item {
		min-height: 400px;
	}
	.photo__item--2 {
		min-height: 400px;
	}

	/* Arrangements */
	.arrangements__text {
		font-size: 12px;
	}
}

@media (max-width: 770px) {
	/* Header */
	.header {
		position: fixed;
	}

	/* Nav */
	.nav {
		display: none;
	}
	.header__btn {
		display: none;
	}

	/* Intro */
	.intro__title {
		font-size: 24px;
	}
	.intro__subtitle {
		font-size: 9px;
	}

	/* Subintro */
	.subintro__text {
		line-height: normal;
	}

	/* Section */
	.section {
		padding: 40px 0;
	}

	/* Maintitle */
	.maintitle {
		font-size: 42px;
	}

	/* Photo */
	.photo__item {
		min-height: 200px;
	}
	.photo__item--2 {
		min-height: 200px;
	}

	/* Arrangements */
	.arrangements__item {
		flex: 1 1 auto;
		margin-bottom: 30px;
	}

	/* Services */
	.services__col {
		margin-top: 0;
	}
	.services__item {
		width: 100%;
		margin-top: 30px;
	}

	/* Reviews */
	.reviews__item {
		flex: 1 1 auto;
		margin-bottom: 20px;
	}

	/* Services in section */
	.services__section {
		flex: 1 1 auto;
	}
}

@media (max-width: 550px) {
	.container__around {
		max-width: 300px;
	}
	.subintro__item {
		width: 100%;
		margin-bottom: 40px;
	}

	/* Maintitle */
	.maintitle {
		font-size: 42px;
	}

	/* Section buttons */
	.section__btn--1 {
		margin-right: 0;
	}
}
